@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .font-ex {
        font-stretch: expanded;
    }
}

@keyframes scrollContent {
    from {
        transform: translate3d(calc(var(--content-width) * -1), 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes scrollContentInvert {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(calc(var(--content-width) * -1), 0, 0);
    }
}

@keyframes overflowLabelReveal {
    0% {
        transform: translate3d(0, 0, 0);
    }
    30%, 50% {
        transform: translate3d(calc(var(--overflow) * -1), 0, 0);
    }
    80%, 100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceRightward {
    0%, 100% {
        transform: translateX(25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: translateX(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

@keyframes bob {
    0%, 100% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(10%);
    }
}

@keyframes spin {
    from {
        rotate: 0deg
    }
    to {
        rotate: 360deg
    }
}